{% extends 'VGI/base.html' %}

{% load static %}
{% load leaflet_tags %}
{% load widget_tweaks %}


{% block head %}
  {{block.super}}
  {{ form.media }}
  {% leaflet_js plugins="ALL" %}
  {% leaflet_css plugins="ALL" %}
  <link rel="stylesheet" href="{% static "VGI/home.css" %}">
  <link rel="stylesheet" href="{% static "VGI/LIB/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "VGI/LIB/css/jquery-ui.css" %}">
  <script type="text/javascript" src="{% static "VGI/LIB/js/jquery-1.12.4.js" %}">  </script>
  <script type="text/javascript" src="{% static "VGI/LIB/js/jquery-ui.12.4.js" %}">  </script>
  <script type="text/javascript" src="{% static "VGI/LIB/js/bootstrap.min.js" %}"> </script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
        collapsible: true,
        active: 'none',
        autoHeight: false,
        navigation: true
    });
  } );
  </script>
  <script type="text/javascript">
      window.addEventListener("map:init", function (e) {

          function onEachFeature_region(feature, layer) {
              // does this feature have a property named popupContent?
              if (feature.properties && feature.properties.model) {
                  layer1.bindPopup(feature.properties.model);
              }
          }

          function onEachFeature_neighbourhood(feature, layer) {
              // does this feature have a property named popupContent?
              if (feature.properties && feature.properties.name) {
                  layer2.bindPopup(feature.properties.name);
              }
          }

          function onEachFeature_criteria(feature, layer) {
              // does this feature have a property named popupContent?
              if (feature.properties && feature.properties.create_date) {
                  layer3.bindPopup(feature.properties.create_date);
              }
          }

          var detail = e.detail;
          //L.marker([50.5, 30.5]).addTo(detail.map);
          var layer1 = L.geoJson(false, {onEachFeature: onEachFeature_region});
          detail.map.addLayer(layer1);
          $.getJSON("{% url 'data_region' %}", function (data) {
              layer1.addData(data);
          });

          var layer2 = L.geoJson(false, {onEachFeature: onEachFeature_neighbourhood});
          detail.map.addLayer(layer2);
          $.getJSON("{% url 'data_unit' %}", function (data) {
              layer2.addData(data);
          });



          var layer3 = L.geoJson(false, {onEachFeature: onEachFeature_criteria});
          detail.map.addLayer(layer3);
          $.getJSON("{% url 'data_criteria' %}", function (data) {
              layer3.addData(data);
          });


          var maps = {
                "Regions": layer1,
                "Neighbourhood": layer2,
                "Other user data": layer3
            };
          L.control.layers(maps).addTo(detail.map)
      }, false);
  </script>

{% endblock %}

{% block header %} <br><h1> VGI-based UQOL </h1> {% endblock %}

{% block sidebar-left %}
  <form action="" method="post">
    {% csrf_token %}
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div id="accordion" >
          <h3>Enviromental</h3>
          <div class="widget">
            {% for field in form %}
              {% if "q1" in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} <br> {{ field }} <hr>
                {% if field.help_text %}  <p class="help">{{ field.help_text|safe }}</p>{% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <h3>Socio-economic</h3>
          <div>
            {% for field in form %}
              {% if "q2" in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} <br> {{ field }} <hr>
                {% if field.help_text %}  <p class="help">{{ field.help_text|safe }}</p>{% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <h3>Phisical</h3>
          <div>
            {% for field in form %}
              {% if "q3" in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} <br> {{ field }} <hr>
                {% if field.help_text %}  <p class="help">{{ field.help_text|safe }}</p>{% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <h3>Statistic</h3>
          <div>
            <ul>
              <li>List item one</li>
              <li>List item two</li>
              <li>List item three</li>
            </ul>
          </div>
        </div>
      {% endblock %}

{% block main %}
      {% for field in form %}
        {% if "geom" in field.label_tag %}
          {{ field.errors }}
           {{ field }}
          {% if field.help_text %}  <p class="help">{{ field.help_text|safe }}</p>{% endif %}
        {% endif %}
      {% endfor %}
    <input id="btn_submit" type="submit" value="Submit">
  </form>
{% endblock %}
